body{
      font-family: 'Roboto', sans-serif;
}

.header_banner{
       background-image: linear-gradient(180deg, rgba(13, 3, 3, 0.45),rgba(30, 29, 0, 0.051)),url("./images/Banner\ Image.png");
    background-color: #070211;
       background-repeat: no-repeat;
       width: 1320px;
      height: 600px;
      margin-left: 70px;
  
      
     
    
}

.new_year_text{
      border: 0px solid ;
      padding-top:150px ;
      
     
}

.main_titile_1{
      color: aliceblue;
      font-size: 25px;
      text-align: center;
      font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; 
}

.main_titile_2{
     color: aliceblue;
     font-size: 65px;
     text-align: center;
     font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; 
}


.sec_1{
      display: block;
      width: 50%;
      margin-top: 100px;
     padding-left:390px
     
}
.offer{
      text-align: center;

}

#h1{
      color: #F00;
      text-align: center;
      font-size: 45px;
}

#paragraph{
      color: #F00;
      font-size: 14px;
      font-weight: 500;
      font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
      }

.sec2{
      margin: 120px 70px;
      background-image: linear-gradient(180deg, rgba(4, 0, 0, 0.45),rgba(0, 0, 0, 0.051)),url("./images/Vectorrr.png");
      background-repeat: no-repeat;
      width: 1320px;
      height: 600px;
}
.section2_content{
      display: flex;
      justify-content: space-between;
      padding-left: 120px;
      

}
.text_sec_2{
      width:500px;
      margin: 40px;
      gap:3px;
      text-align: center;
      padding-top: 50px;

}
#heading_sec2{
      color: #FFF;
font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
font-size: 50px;
font-weight: 900;
letter-spacing: 7.04px;
text-align: center;
;
}
.img_2024{
    padding: 70px 150px;
    padding-left: 40px;
}
.joining_bio{
      background-image: linear-gradient(rgb(245, 225, 225), rgba(249, 224, 224, 0.957), rgb(255, 255, 255));
      text-align: center;
      margin: 70px;
      padding: 70px;
      padding-bottom: 100px;
      border-radius: 15px;
}
.color_red{
      color: #F00;
}
.button{
      background-color: orangered;
      border:  0px solid;
      font-size: 20px;
      color:white;
     border-radius: 8px;
     padding: 5px;
     box-shadow: 2px 2px 2px gray;
}
.sec_3{
      display: flex;
      margin: 80px;
      padding-top: 50px;
      gap: 60px;
    
}
.new_year_offer{

    height: 400px;
    width: 500px;
    padding-left: 100px;

}

#text_1{
      color: #F00;
font-family: Inter;
padding-top: 60px;

}
#text_2{
      
      color: #070211;
      font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
      font-size: 50px;
    
      

}
.text_3{
      color: rgba(7, 2, 17, 0.60);

font-family: Inter;
font-size: 20px;


}
    
    

.ellispe{
 border: 15px solid #F00;
 border-radius: 50%;
 padding: 20px;

 
}
#text_4{
      color: #F00;
      padding-top: 30px;

font-family: Inter;
font-size: 48px;
}

#img_2{
   padding: 100px;

/* padding-bottom: 600px; */

}
.holiday_sale{
      text-align: center;
      margin-top: 250px;
      padding-left: 300px; 
      padding-right: 300px; 
    
      
}
#content_1{
      color: #070211;
font-family: Inter;
font-size: 20px;
font-weight: 500;
}
#content_2{
      color: #070211;


font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
font-size:60px;
font-weight: 900;
}
.new_banner{
      background-image: url("./images/Rectangle\ 2.png"), url('./images/Rectangle\ 1.png');
      background-repeat: no-repeat;
      background-position: bottom, right top;
      margin: 65px;
}

#img_2{
background-position: right;
}
.product_heading{
      font-size: 20px;
      margin-left: 50px;
      margin-top: 200px;
}
#text_01{
      font-size: 20px;
      color: #F00;
}
.demo_pic{
      display: flex;
      padding: 20px;
  
}
#text_2{
      font-size: 50px;
      font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
      text-transform: capitalize;

}
.hover{
     
      border: 5px solid rgb(3, 3, 92);
      margin: 5px;
      border-radius: 15px;
      padding: 5px;
}
.hover:hover{
  
      border: 5px solid red;
      margin: 5px;
      border-radius: 15px;
      padding: 5px;

 }
 .last_part{
         background: rgba(255, 0, 0, 0.05);
         margin: 150px;
        
        text-align: center;
        padding: 100px;
      
 }
 .subscribe_text{
      font-size: 40px;
      font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
 }
 .input{

 }
 .input_button{
      display:flex;
      margin: 0px;
      padding-left: 380px;
     
   
   
      
 }
 .buttoon{
      background-color: rgb(200, 24, 24);
      border:  0px solid;
      
      color:white;
      width: 70px;
      
  
     padding: 5px;
 }
 .footer{
      background-color: #070211;;
      color: #FFF;
      width: 1400px;
      height: 450px;
      margin-left: 40px;
      
}

.hr_1{
      border: 1px solid rgb(35, 34, 34);
      width: 1050px;
height: 1px;
 }
 
 .contact{
      
      display: flex;
      padding: 50px;
      padding-left:170px ;
 

 }
 .flex_2{
      display:flex;
      padding-left: 650px;
      gap: 10px;
 }
 #inline{
      display: block;
 }
 #call_image{
      padding-top: 10px;
   
 }
 .linkk{
     padding-left: 550px;
 }
 .link_2{
      padding: 8px;
    
 }
 .foot{
      display:inline-flex;
 }
 #all_rights{
      padding-left: 170px;
 }
 #Unsubscribe{
      padding-left: 800px;
 }
