body{
      font-family: 'Roboto', sans-serif;
}
.header_banner{
       background-image: url('./images/Banner\ Image.png');
       background-repeat: no-repeat;
       width: 1320px;
      height: 600px;
      margin-left: 70px
}


/* /* .new_year_text{
      border: 0px solid ; */
/* }  */
.main_titile{
     color: aliceblue;
     text-align: center;
     padding-top: 40px;
     
     
     
}



.sec_1{
      display: block;
      width: 50%;
      margin-top: 100px;
     padding-left:390px
     
}
.offer{
      text-align: center;

}

#h1{
      color: #F00;
      text-align: center;
      font-size: 45px;
}

#paragraph{
      color: #F00;
      font-size: 14px;
      font-weight: 500;
      }

/* .new-year_img{
      width: 500px;
      height: 500px;
} */
.sec2{
      margin: 120px 70px;
      background-image: url('./images/Vectorrr.png');
      background-repeat: no-repeat;
      width: 1320px;
      height: 600px;
      /* padding-left: ; */
}
.section2_content{
      display: flex;
      width: 50%;
}
.text_sec_2{
      
}
#heading_sec2{
      color: #FFF;
font-family: Merriweather;
font-size: 50px;
font-weight: 900;
letter-spacing: 7.04px;
text-align: center;
;
}
.img_2024{
    padding: 75px 600px;
}
.joining_bio{
      background-image: linear-gradient(rgb(245, 225, 225), rgb(250, 245, 241), rgb(255, 255, 255));
      text-align: center;
      margin: 70px;
      padding: 70px;
      padding-bottom: 100px;
      border-radius: 15px;
}
.color_red{
      color: #F00;
}
#button{
      background-color: orangered;
      border:  0px solid;
      font-size: 20px;
      color:white;
     border-radius: 8px;
     padding: 5px;
     box-shadow: 2px 2px 2px gray;
}
.sec_3{
      display: flex;
      margin: 80px;
      padding-top: 50px;
      gap: 60px;
    
}
.new_year_offer{

    height: 400px;
    width: 500px;
    padding-left: 100px;

}

#text_1{
      color: #F00;
font-family: Inter;
padding-top: 60px;

}
#text_2{
      
      color: #070211;
      font-family: Merriweather;
      font-size: 48px;
    
      

}
.text_3{
      color: rgba(7, 2, 17, 0.60);

font-family: Inter;
font-size: 20px;


}
    
    

.ellispe{
 border: 15px solid #F00;
 border-radius: 50%;
 padding: 20px;

}
#new_year_offer_2{
      
}
#text_4{
      color: #F00;
      padding-top: 30px;

font-family: Inter;
font-size: 48px;
}
#img_2{
  padding-top: 50px;
}